/* 

#admin h2 {
  text-align: center;
  color: #444;
}
#admin .authors-list {
  margin-top: 60px;
}

#admin .author {
  margin-bottom: 15px;
  border-bottom: 1px solid #ad1457;
}

#admin .author .delete-author-btn {
  color: #ad1457;
  text-decoration: underline;
  cursor: pointer;
}

#admin .author .fa-trash {
  color: #ad1457;
  cursor: pointer;
} 

*/
